:root {
    --main-bg-color: #011212;
    --ball-color: #ff8800;
    --ball-radius: 50px;
    --ball-dimension: 100px;
}

body {
    background-color: var(--main-bg-color);
}

.ball {
    width: var(--ball-dimension);
    height: var(--ball-dimension);
    background-color: var(--ball-color);
    border-radius: var(--ball-radius);
}
